.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.search-button {
  background-color: #282c34;
  color: white;
}

.Auth-link {
  position: absolute;
  right: 150px;
  background-color: #282c34;
  color: white;
}

.settings {
  position: absolute;
  left: 150px;
  color: white;
  background-color: #282c34;
}

.embed {
  max-width: 100vh;
}

.content{
  color: white;
  line-break: normal;
  max-width: 100vh;
}

.search {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.text {
  max-width: 100vh;
  min-width: 100vh;
}

.image {
  max-width: 500px;
  max-height: 500px;
  height: auto;
  width: auto;
}

.post {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  border-color: black;
  border-radius: 50;
  border-style: solid;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
