.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .login{
    border-color: transparent;
    border-radius: 10;
    border-style: solid;
  }

  .signup{
    border-color: transparent;
    border-radius: 50;
    border-style: solid;
  }